# -------------------------------------
# Node.js
# -------------------------------------

# Dependency directories
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm/

# dotenv environment variables
.env
.env.*   # .env.test, .env.production etc.

# -------------------------------------
# Project-Specific
# -------------------------------------

# Ignore temp directory inside public
public/temp/

# VS Code settings
.vscode/

# Parcel / Next / Nuxt / Vue / Build output
.cache/
.parcel-cache/
.next/
out/
.nuxt/
dist/
.vuepress/

# Test coverage
coverage/
*.lcov
.nyc_output/

# TypeScript build info
*.tsbuildinfo

# ESLint and Prettier
.eslintcache

# Optional REPL history
.node_repl_history

# Other tools
bower_components/
jspm_packages/
web_modules/
.grunt/
.serverless/
.fusebox/
.dynamodb/
.tern-port/

# Yarn v2
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.yarn-integrity

# Output of 'npm pack'
*.tgz

# Compiled binary addons
build/Release/

# Lock files
.lock-wscript

# Compiled cache
lib-cov/
.rpt2_cache/
.rts2_cache_*/

# IDE/OS files
.DS_Store
Thumbs.db

# Temporary by you
*.tmp
*.swp
